@import "tailwindcss";

@theme {
  /* Definiujemy nową klasę narzędziową: animate-fade-down */
  --animate-fade-down: fade-down 0.6s ease-out both;

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

main > section {
  @apply relative min-h-[50vh] 2xl:max-w-3/4 mx-auto py-12 px-4 md:px-24 flex flex-col items-center justify-center overflow-hidden;
}

#svs-table thead tr th {
  @apply pb-6 text-[0.7rem] uppercase tracking-widest text-gray-400 px-4;
}

#svs-table tbody tr {
  @apply hover:bg-slate-800 transition-colors odd:bg-slate-950/30;
}

#svs-table tbody tr td {
  @apply py-4 px-2 text-xs md:text-base text-center;
}
